PizzaStoreLogic/PizzaStoreLogic.WebClient/Service References/PizzaStoreDataService/PizzaStoreService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/pizzastoredataservice/PizzaStoreService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PizzaStoreData.DataClient.Models" />
  <xs:element name="GetAddresses">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddressesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PizzaStoreData.DataClient.Models" minOccurs="0" name="GetAddressesResult" nillable="true" type="q1:ArrayOfAddressDetailDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCardPayments">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCardPaymentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PizzaStoreData.DataClient.Models" minOccurs="0" name="GetCardPaymentsResult" nillable="true" type="q2:ArrayOfCardPaymentDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCheeses">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCheesesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PizzaStoreData.DataClient.Models" minOccurs="0" name="GetCheesesResult" nillable="true" type="q3:ArrayOfCheeseDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCheeseToppings">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCheeseToppingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/PizzaStoreData.DataClient.Models" minOccurs="0" name="GetCheeseToppingsResult" nillable="true" type="q4:ArrayOfCheeseToppingDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCrusts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCrustsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/PizzaStoreData.DataClient.Models" minOccurs="0" name="GetCrustsResult" nillable="true" type="q5:ArrayOfCrustDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/PizzaStoreData.DataClient.Models" minOccurs="0" name="GetCustomersResult" nillable="true" type="q6:ArrayOfCustomerDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmails">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/PizzaStoreData.DataClient.Models" minOccurs="0" name="GetEmailsResult" nillable="true" type="q7:ArrayOfEmailDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMeats">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMeatsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/PizzaStoreData.DataClient.Models" minOccurs="0" name="GetMeatsResult" nillable="true" type="q8:ArrayOfMeatDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMeatToppings">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMeatToppingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/PizzaStoreData.DataClient.Models" minOccurs="0" name="GetMeatToppingsResult" nillable="true" type="q9:ArrayOfMeatToppingDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNames">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/PizzaStoreData.DataClient.Models" minOccurs="0" name="GetNamesResult" nillable="true" type="q10:ArrayOfNameDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPaymentTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPaymentTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/PizzaStoreData.DataClient.Models" minOccurs="0" name="GetPaymentTypesResult" nillable="true" type="q11:ArrayOfPaymentTypeDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPhones">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPhonesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/PizzaStoreData.DataClient.Models" minOccurs="0" name="GetPhonesResult" nillable="true" type="q12:ArrayOfPhoneDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPizzas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPizzasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/PizzaStoreData.DataClient.Models" minOccurs="0" name="GetPizzasResult" nillable="true" type="q13:ArrayOfPizzaDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPizzaOrders">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPizzaOrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/PizzaStoreData.DataClient.Models" minOccurs="0" name="GetPizzaOrdersResult" nillable="true" type="q14:ArrayOfPizzaOrderDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPizzaOrderDetails">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPizzaOrderDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/PizzaStoreData.DataClient.Models" minOccurs="0" name="GetPizzaOrderDetailsResult" nillable="true" type="q15:ArrayOfPizzaOrderDetailDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSauces">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSaucesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/PizzaStoreData.DataClient.Models" minOccurs="0" name="GetSaucesResult" nillable="true" type="q16:ArrayOfSauceDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSizes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSizesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/PizzaStoreData.DataClient.Models" minOccurs="0" name="GetSizesResult" nillable="true" type="q17:ArrayOfSizeDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStores">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/PizzaStoreData.DataClient.Models" minOccurs="0" name="GetStoresResult" nillable="true" type="q18:ArrayOfStoreDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStoreHours">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStoreHoursResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/PizzaStoreData.DataClient.Models" minOccurs="0" name="GetStoreHoursResult" nillable="true" type="q19:ArrayOfStoreHourDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVegetables">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVegetablesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/PizzaStoreData.DataClient.Models" minOccurs="0" name="GetVegetablesResult" nillable="true" type="q20:ArrayOfVegetableDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVegetableToppings">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVegetableToppingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/PizzaStoreData.DataClient.Models" minOccurs="0" name="GetVegetableToppingsResult" nillable="true" type="q21:ArrayOfVegetableToppingDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/PizzaStoreData.DataClient.Models" minOccurs="0" name="GetAddressResult" nillable="true" type="q22:AddressDetailDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCardPayment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCardPaymentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/PizzaStoreData.DataClient.Models" minOccurs="0" name="GetCardPaymentResult" nillable="true" type="q23:CardPaymentDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCheese">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCheeseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/PizzaStoreData.DataClient.Models" minOccurs="0" name="GetCheeseResult" nillable="true" type="q24:CheeseDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCheeseTopping">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCheeseToppingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/PizzaStoreData.DataClient.Models" minOccurs="0" name="GetCheeseToppingResult" nillable="true" type="q25:CheeseToppingDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCrust">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCrustResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/PizzaStoreData.DataClient.Models" minOccurs="0" name="GetCrustResult" nillable="true" type="q26:CrustDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/PizzaStoreData.DataClient.Models" minOccurs="0" name="GetCustomerResult" nillable="true" type="q27:CustomerDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/PizzaStoreData.DataClient.Models" minOccurs="0" name="GetEmailResult" nillable="true" type="q28:EmailDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMeat">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMeatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/PizzaStoreData.DataClient.Models" minOccurs="0" name="GetMeatResult" nillable="true" type="q29:MeatDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMeatTopping">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMeatToppingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/PizzaStoreData.DataClient.Models" minOccurs="0" name="GetMeatToppingResult" nillable="true" type="q30:MeatToppingDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/PizzaStoreData.DataClient.Models" minOccurs="0" name="GetNameResult" nillable="true" type="q31:NameDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPaymentType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPaymentTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/PizzaStoreData.DataClient.Models" minOccurs="0" name="GetPaymentTypeResult" nillable="true" type="q32:PaymentTypeDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPhone">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPhoneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/PizzaStoreData.DataClient.Models" minOccurs="0" name="GetPhoneResult" nillable="true" type="q33:PhoneDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPizza">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPizzaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/PizzaStoreData.DataClient.Models" minOccurs="0" name="GetPizzaResult" nillable="true" type="q34:PizzaDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPizzaOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPizzaOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/PizzaStoreData.DataClient.Models" minOccurs="0" name="GetPizzaOrderResult" nillable="true" type="q35:PizzaOrderDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPizzaOrderDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPizzaOrderDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/PizzaStoreData.DataClient.Models" minOccurs="0" name="GetPizzaOrderDetailResult" nillable="true" type="q36:PizzaOrderDetailDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSauce">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSauceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/PizzaStoreData.DataClient.Models" minOccurs="0" name="GetSauceResult" nillable="true" type="q37:SauceDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSize">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSizeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/PizzaStoreData.DataClient.Models" minOccurs="0" name="GetSizeResult" nillable="true" type="q38:SizeDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStore">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStoreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/PizzaStoreData.DataClient.Models" minOccurs="0" name="GetStoreResult" nillable="true" type="q39:StoreDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStoreHour">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStoreHourResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/PizzaStoreData.DataClient.Models" minOccurs="0" name="GetStoreHourResult" nillable="true" type="q40:StoreHourDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVegetable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVegetableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/PizzaStoreData.DataClient.Models" minOccurs="0" name="GetVegetableResult" nillable="true" type="q41:VegetableDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVegetableTopping">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVegetableToppingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/PizzaStoreData.DataClient.Models" minOccurs="0" name="GetVegetableToppingResult" nillable="true" type="q42:VegetableToppingDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/PizzaStoreData.DataClient.Models" minOccurs="0" name="address" nillable="true" type="q43:AddressDetailDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertAddressResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCardPayment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/PizzaStoreData.DataClient.Models" minOccurs="0" name="cardPayment" nillable="true" type="q44:CardPaymentDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCardPaymentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertCardPaymentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCheese">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/PizzaStoreData.DataClient.Models" minOccurs="0" name="cheese" nillable="true" type="q45:CheeseDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCheeseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertCheeseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCheeseTopping">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/PizzaStoreData.DataClient.Models" minOccurs="0" name="topping" nillable="true" type="q46:CheeseToppingDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCheeseToppingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertCheeseToppingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCrust">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/PizzaStoreData.DataClient.Models" minOccurs="0" name="crust" nillable="true" type="q47:CrustDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCrustResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertCrustResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/PizzaStoreData.DataClient.Models" minOccurs="0" name="customer" nillable="true" type="q48:CustomerDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertCustomerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/PizzaStoreData.DataClient.Models" minOccurs="0" name="email" nillable="true" type="q49:EmailDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertEmailResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertMeat">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/PizzaStoreData.DataClient.Models" minOccurs="0" name="meat" nillable="true" type="q50:MeatDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertMeatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertMeatResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertMeatTopping">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/PizzaStoreData.DataClient.Models" minOccurs="0" name="topping" nillable="true" type="q51:MeatToppingDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertMeatToppingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertMeatToppingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertName">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/PizzaStoreData.DataClient.Models" minOccurs="0" name="name" nillable="true" type="q52:NameDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertNameResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPaymentType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/PizzaStoreData.DataClient.Models" minOccurs="0" name="paymentType" nillable="true" type="q53:PaymentTypeDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPaymentTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertPaymentTypeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPhone">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/PizzaStoreData.DataClient.Models" minOccurs="0" name="phone" nillable="true" type="q54:PhoneDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPhoneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertPhoneResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPizza">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/PizzaStoreData.DataClient.Models" minOccurs="0" name="pizza" nillable="true" type="q55:PizzaDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPizzaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertPizzaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPizzaOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/PizzaStoreData.DataClient.Models" minOccurs="0" name="order" nillable="true" type="q56:PizzaOrderDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPizzaOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertPizzaOrderResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPizzaOrderDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/PizzaStoreData.DataClient.Models" minOccurs="0" name="orderDetails" nillable="true" type="q57:PizzaOrderDetailDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPizzaOrderDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertPizzaOrderDetailResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertSauce">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/PizzaStoreData.DataClient.Models" minOccurs="0" name="sauce" nillable="true" type="q58:SauceDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertSauceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertSauceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertSize">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/PizzaStoreData.DataClient.Models" minOccurs="0" name="size" nillable="true" type="q59:SizeDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertSizeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertSizeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertStore">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/PizzaStoreData.DataClient.Models" minOccurs="0" name="store" nillable="true" type="q60:StoreDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertStoreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertStoreResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertStoreHour">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/PizzaStoreData.DataClient.Models" minOccurs="0" name="hours" nillable="true" type="q61:StoreHourDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertStoreHourResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertStoreHourResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertVegetable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/PizzaStoreData.DataClient.Models" minOccurs="0" name="vegetable" nillable="true" type="q62:VegetableDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertVegetableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertVegetableResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertVegetableTopping">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/PizzaStoreData.DataClient.Models" minOccurs="0" name="topping" nillable="true" type="q63:VegetableToppingDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertVegetableToppingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertVegetableToppingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/PizzaStoreData.DataClient.Models" minOccurs="0" name="address" nillable="true" type="q64:AddressDetailDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangeAddressResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeCardPayment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/PizzaStoreData.DataClient.Models" minOccurs="0" name="cardPayment" nillable="true" type="q65:CardPaymentDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeCardPaymentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangeCardPaymentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeCheese">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/PizzaStoreData.DataClient.Models" minOccurs="0" name="cheese" nillable="true" type="q66:CheeseDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeCheeseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangeCheeseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeCheeseTopping">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/PizzaStoreData.DataClient.Models" minOccurs="0" name="topping" nillable="true" type="q67:CheeseToppingDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeCheeseToppingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangeCheeseToppingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeCrust">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/PizzaStoreData.DataClient.Models" minOccurs="0" name="crust" nillable="true" type="q68:CrustDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeCrustResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangeCrustResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/PizzaStoreData.DataClient.Models" minOccurs="0" name="customer" nillable="true" type="q69:CustomerDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangeCustomerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/PizzaStoreData.DataClient.Models" minOccurs="0" name="email" nillable="true" type="q70:EmailDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangeEmailResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeMeat">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/PizzaStoreData.DataClient.Models" minOccurs="0" name="meat" nillable="true" type="q71:MeatDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeMeatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangeMeatResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeMeatTopping">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/PizzaStoreData.DataClient.Models" minOccurs="0" name="topping" nillable="true" type="q72:MeatToppingDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeMeatToppingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangeMeatToppingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeName">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/PizzaStoreData.DataClient.Models" minOccurs="0" name="name" nillable="true" type="q73:NameDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangeNameResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePaymentType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/PizzaStoreData.DataClient.Models" minOccurs="0" name="paymentType" nillable="true" type="q74:PaymentTypeDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePaymentTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangePaymentTypeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePhone">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/PizzaStoreData.DataClient.Models" minOccurs="0" name="phone" nillable="true" type="q75:PhoneDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePhoneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangePhoneResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePizza">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/PizzaStoreData.DataClient.Models" minOccurs="0" name="pizza" nillable="true" type="q76:PizzaDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePizzaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangePizzaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePizzaOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/PizzaStoreData.DataClient.Models" minOccurs="0" name="order" nillable="true" type="q77:PizzaOrderDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePizzaOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangePizzaOrderResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePizzaOrderDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/PizzaStoreData.DataClient.Models" minOccurs="0" name="orderDetails" nillable="true" type="q78:PizzaOrderDetailDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePizzaOrderDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangePizzaOrderDetailResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeSauce">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/PizzaStoreData.DataClient.Models" minOccurs="0" name="sauce" nillable="true" type="q79:SauceDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeSauceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangeSauceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeSize">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/PizzaStoreData.DataClient.Models" minOccurs="0" name="size" nillable="true" type="q80:SizeDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeSizeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangeSizeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeStore">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/PizzaStoreData.DataClient.Models" minOccurs="0" name="store" nillable="true" type="q81:StoreDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeStoreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangeStoreResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeStoreHour">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/PizzaStoreData.DataClient.Models" minOccurs="0" name="hours" nillable="true" type="q82:StoreHourDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeStoreHourResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangeStoreHourResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeVegetable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/PizzaStoreData.DataClient.Models" minOccurs="0" name="vegetable" nillable="true" type="q83:VegetableDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeVegetableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangeVegetableResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeVegetableTopping">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/PizzaStoreData.DataClient.Models" minOccurs="0" name="topping" nillable="true" type="q84:VegetableToppingDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeVegetableToppingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangeVegetableToppingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/PizzaStoreData.DataClient.Models" minOccurs="0" name="address" nillable="true" type="q85:AddressDetailDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteAddressResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCardPayment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/PizzaStoreData.DataClient.Models" minOccurs="0" name="cardPayment" nillable="true" type="q86:CardPaymentDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCardPaymentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteCardPaymentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCheese">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/PizzaStoreData.DataClient.Models" minOccurs="0" name="cheese" nillable="true" type="q87:CheeseDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCheeseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteCheeseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCheeseTopping">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/PizzaStoreData.DataClient.Models" minOccurs="0" name="topping" nillable="true" type="q88:CheeseToppingDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCheeseToppingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteCheeseToppingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCrust">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/PizzaStoreData.DataClient.Models" minOccurs="0" name="crust" nillable="true" type="q89:CrustDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCrustResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteCrustResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/PizzaStoreData.DataClient.Models" minOccurs="0" name="customer" nillable="true" type="q90:CustomerDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteCustomerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/PizzaStoreData.DataClient.Models" minOccurs="0" name="email" nillable="true" type="q91:EmailDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteEmailResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMeat">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/PizzaStoreData.DataClient.Models" minOccurs="0" name="meat" nillable="true" type="q92:MeatDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMeatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteMeatResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMeatTopping">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/PizzaStoreData.DataClient.Models" minOccurs="0" name="topping" nillable="true" type="q93:MeatToppingDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMeatToppingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteMeatToppingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteName">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q94="http://schemas.datacontract.org/2004/07/PizzaStoreData.DataClient.Models" minOccurs="0" name="name" nillable="true" type="q94:NameDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteNameResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePaymentType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q95="http://schemas.datacontract.org/2004/07/PizzaStoreData.DataClient.Models" minOccurs="0" name="paymentType" nillable="true" type="q95:PaymentTypeDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePaymentTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeletePaymentTypeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePhone">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q96="http://schemas.datacontract.org/2004/07/PizzaStoreData.DataClient.Models" minOccurs="0" name="phone" nillable="true" type="q96:PhoneDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePhoneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeletePhoneResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePizza">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q97="http://schemas.datacontract.org/2004/07/PizzaStoreData.DataClient.Models" minOccurs="0" name="pizza" nillable="true" type="q97:PizzaDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePizzaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeletePizzaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePizzaOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q98="http://schemas.datacontract.org/2004/07/PizzaStoreData.DataClient.Models" minOccurs="0" name="order" nillable="true" type="q98:PizzaOrderDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePizzaOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeletePizzaOrderResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePizzaOrderDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q99="http://schemas.datacontract.org/2004/07/PizzaStoreData.DataClient.Models" minOccurs="0" name="orderDetails" nillable="true" type="q99:PizzaOrderDetailDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePizzaOrderDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeletePizzaOrderDetailResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSauce">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q100="http://schemas.datacontract.org/2004/07/PizzaStoreData.DataClient.Models" minOccurs="0" name="sauce" nillable="true" type="q100:SauceDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSauceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteSauceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSize">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q101="http://schemas.datacontract.org/2004/07/PizzaStoreData.DataClient.Models" minOccurs="0" name="size" nillable="true" type="q101:SizeDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSizeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteSizeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStore">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q102="http://schemas.datacontract.org/2004/07/PizzaStoreData.DataClient.Models" minOccurs="0" name="store" nillable="true" type="q102:StoreDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStoreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteStoreResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStoreHour">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q103="http://schemas.datacontract.org/2004/07/PizzaStoreData.DataClient.Models" minOccurs="0" name="hours" nillable="true" type="q103:StoreHourDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStoreHourResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteStoreHourResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteVegetable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q104="http://schemas.datacontract.org/2004/07/PizzaStoreData.DataClient.Models" minOccurs="0" name="vegetable" nillable="true" type="q104:VegetableDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteVegetableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteVegetableResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteVegetableTopping">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q105="http://schemas.datacontract.org/2004/07/PizzaStoreData.DataClient.Models" minOccurs="0" name="topping" nillable="true" type="q105:VegetableToppingDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteVegetableToppingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteVegetableToppingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>